@media only screen and (max-width:1100px) {
    .galeria {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .texto-conocenuestrosproductos{
        font-size: 16px;
    }
    .header{
        font-size: 12px;
    }
}

@media only screen and (max-width:999px) {
    .galeria {
        grid-template-columns: 1fr 1fr;
    }
    .texto-conocenuestrosproductos{
        font-size: 13px;
    }
    .header{
        font-size: 12px;
    }
}
@media only screen and (max-width:480px) {
    .galeria {
        grid-template-columns: 1fr;
    }
    .texto-conocenuestrosproductos{
        font-size: 10px;
    }
    .header{
        font-size: 10px;
    }
}

