@media only screen and (max-width:1100px) {
    .servicios-galeria {
        grid-template-columns: 1fr;

    }
    .texto-conocenuestrosservicios{
        font-size: 16px;
    }
    .servicios-galeria p{
        font-size: 20px;
    }
    .header{
        font-size: 12px;
    }
}



@media only screen and (max-width:999px) {
    .servicios-galeria {
        grid-template-columns: 1fr;
    }
    .servicios-galeria p{
        font-size: 13px;
        padding-right: 40px;
    padding-left: 40px;

    }
    .texto-conocenuestrosservicios{
        font-size: 13px;
    }
    .header{
        font-size: 12px;
    }
}



@media only screen and (max-width:480px) {
    .servicios-galeria {
        grid-template-columns: 1fr;
    }
    .texto-conocenuestrosservicios{
        font-size: 10px;
    }
    .servicios-galeria p{
        font-size: 12px;
        padding-right: 40px;
        padding-left: 40px;
    }
    .header{
        font-size: 10px;
    }
    
}


